{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.address %}
    <a> Ваш Текущий Адрес Доставки: {{ user.address }}</a>
{% else %}
    <a>Добавить Адрес</a>
{% endif %}

{% if user.address %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Изменить Адрес">
    </form>
{% else %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить Адрес">
    </form>
{% endif %}

{% endblock %}
