{% extends "base.html" %}
{% block content %}
  <h2>Сброс пароля</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
      {{ form.new_password1.label_tag }} {{ form.new_password1 }}
      {{ form.new_password1.errors }}
    </div>
    <div class="fieldWrapper">
      {{ form.new_password2.label_tag }} {{ form.new_password2 }}
      {{ form.new_password2.errors }}
    </div>
    <input type="submit" value="Сбросить пароль">
  </form>
{% endblock %}
